@tailwind base;
@tailwind components;
@tailwind utilities;
#root{
  margin: 0;
}
* {
  transition: background-color 0.3s ease, 
              border-color 0.3s ease, 
              color 0.3s ease, 
              box-shadow 0.3s ease;
}

/* Optional: disable transitions on page load */
.no-transitions * {
  transition: none !important;
}